<nav class="navbar navbar-expand-lg bg-body-tertiary overflow-x-hidden">
    <div class="container-fluid aligningstuff">
        <i class="fa-solid fa-pen-to-square"></i>
      <h1 class="pt-4 ramaraja-regular">
        <span class="first-letter">E</span>mployee <span class="first-letter">M</span>anagement <span
          class="first-letter">S</span>ystem
      </h1>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  ">
          <li class="nav-item">
            <a class="nav-link " routerLink="/employees"><i class="fa-solid fa-users"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink=""><i class="fa-solid fa-house"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="display: flex; justify-content: center; align-items: center; height: 80vh; width: 90%;">
    <h1 class=" hh1 single-line crimson-text-bold">
        <span class="first-letter">A</span>dd/<span class="first-letter">E</span>dit <span class="first-letter">E</span>mployee <br>
    </h1>
    <div class="container text-start p-5 hvr-grow  overflow-x-hidden">
    <form>
        <div class="mb-3">
            <label for="idNumber" class="form-label crimson-text-bold"><span class="first-letter">ID</span> Number:</label>
            <input type="number" class="form-control" id="idNumber" placeholder="Enter ID Number">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label crimson-text-bold"><span class="first-letter">N</span>ame:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <label for="position" class="form-label crimson-text-bold"><span class="first-letter">P</span>osition:</label>
            <input type="text" class="form-control" id="position" placeholder="Enter Position">
        </div>
        <div class="mb-3">
            <label for="department" class="form-label crimson-text-bold"><span class="first-letter">D</span>epartment:</label>
            <input type="text" class="form-control" id="department" placeholder="Enter Department">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label crimson-text-bold"><span class="first-letter">S</span>alary:</label>
            <input type="number" class="form-control" id="salary" placeholder="Enter Salary">
        </div>
        <button type="submit" id="submit-task-btn" class="submit-btn crimson-text-bold">Submit</button>
    </form>
    </div>
  </div>
