<div style="display: flex; justify-content: center; align-items: center; height: 90vh;">
  <div class="content-container">
    <h1 class="single-line ramaraja-regular">
      <span class="first-letter">E</span>mployee <br><span class="first-letter">M</span>anagement <br><span
        class="first-letter">S</span>ystem
    </h1>

    <br>
    
      <button type="button" class="btn crimson-text-regular hvr-grow" routerLink="/employees">
        <i class="fa-solid fa-users any"></i> <span class="any">Employee List</span>
      </button>

  </div>
  <p class="roboto-mono footer-text">A Project by: <a href="https://ahmed230943.github.io/Web-Assignment/"
      class="text-decoration-none"> M. Ahmed Abdullah</a></p>
</div>
