
  .single-line {
          font-size: 8vw; /* 20% of the viewport width */
          line-height: 90%;
          white-space: pre-line; /* Preserve whitespace and line breaks */
      }
      .content-container {
          margin: 0 20%;
        }
        .first-letter {
            color: rgb(109, 35, 35);
          }
        .btn{
            background-color:rgb(163, 29, 29);
            color: rgb(254, 249, 225);
            border: 2px solid rgb(163, 29, 29);
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px;
            width: 40vw;
            height: 10vh;
            overflow: hidden;
        
        }

        .btn:hover{
            background-color: rgb(254, 249, 225);
            color: rgb(163, 29, 29);;
            border: 10px solid rgb(163, 29, 29);
        }
        .btn:active{
            box-shadow: 10px 10px rgb(229, 208, 172) inset, 10px 10px black;
        }
        .fa-users{
            padding: 10px 10px;
        }
        .text-decoration-none{
            color: rgb(163, 29, 29);
        }
        .footer-text {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
          }
          .hvr-grow:hover {
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
          }
          .hvr-grow:focus, .hvr-grow:active {
            -webkit-transform: scale(1.00);
            transform: scale(1.00);
          }
@media (max-width: 768px) {
    .single-line {
        font-size: 12vw;
    }
    .content-container {
        margin: 0 10%;
    }
    .btn {
        width: 80vw;
        height: 8vh;
    }
    .dropdown-item {
        width: 40vw;
    }
}

